
<div th:replace="/account/ForgetPassword"></div>

</div>

<div id="Footer">

    <div id="PoweredBy">&nbsp<a href="PoweredBycsu">www.csu.edu.cn</a>
    </div>

    <div id="Banner">

    </div>

</div>



    <script type = "text/javascript" src = "/js/authCode.js"></script>
    <script type = "text/javascript" src = "/js/mail.js"></script>
    <script type = "text/javascript" src = "/js/register.js"></script>
    <script type = "text/javascript" src = "/js/updateCartItem.js"></script>
    <script type = "text/javascript" src = "/js/signInSignOutButton.js"></script>
    <script type = "text/javascript" src = "/js/searchCompletion.js"></script>
    <script type = "text/javascript" src = "/js/floatingWindow.js"></script>



</body>
</html>