<div th:replace="/common/header"></div>
<div id="Welcome">
    <div id="WelcomeContent">
        Welcome to MyPetStore!
    </div>
</div>

<div id="Main">
    <div id="Sidebar">
        <div id="SidebarContent">
            <a th:href="@{/catalog/viewCategory(categoryId=FISH)}"><img src="/images/banner_fish.gif" /></a>
            <br/> Saltwater, Freshwater <br/>
            <a th:href="@{/catalog/viewCategory(categoryId=DOGS)}"><img src="/images/banner_dogs.gif" /></a>
            <br /> Various Breeds <br />
            <a th:href="@{/catalog/viewCategory(categoryId=CATS)}" ><img src="/images/banner_cats.gif" /></a>
            <br /> Various Breeds, Exotic Varieties <br />
            <a th:href="@{/catalog/viewCategory(categoryId=REPTILES)}"><img src="/images/banner_reptiles.gif" /></a>
            <br /> Lizards, Turtles, Snakes <br />
            <a th:href="@{/catalog/viewCategory(categoryId=BIRDS)}"><img src="/images/banner_birds.gif" /></a>
            <br /> Exotic Varieties
        </div>
    </div>


<!--    <div id="tooltip" class="tip"></div>-->

    <div id="tooltip"></div>

    <!--    =============================================================================-->
    <!--    方便测试用-->
    <div id="fast_signin">
        <a type="button" href="/account/fastSignin" th:if="${session.user}==null">Click here to fast signin</a>
    </div>
    <!--    =============================================================================-->


    <div id="MainImage">
        <div id="MainImageContent">
            <map name="estoremap">
                <area alt="Birds" id = "Birdspic" coords="72,2,280,250" th:href="@{/catalog/viewCategory(categoryId=BIRDS)}" shape="rect" />
                <area alt="Fish" id = "Fishpic" coords="2,180,72,250" th:href="@{/catalog/viewCategory(categoryId=FISH)}" shape="rect" />
                <area alt="Dogs" id = "Dogspic" coords="60,250,130,320" th:href="@{/catalog/viewCategory(categoryId=DOGS)}" shape="rect" />
                <area alt="Reptiles" id = "Reptilespic" coords="140,270,210,340" th:href="@{/catalog/viewCategory(categoryId=REPTILES)}" shape="rect" />
                <area alt="Cats" id = "Catspic" coords="225,240,295,310" th:href="@{/catalog/viewCategory(categoryId=CATS)}" shape="rect" />
                <area alt="Birds" id = "Birds2pic" coords="280,180,350,250" th:href="@{/catalog/viewCategory(categoryId=BIRDS)}" shape="rect" />
            </map>
            <img height="355" src="/images/splash.gif" align="middle" usemap="#estoremap" width="350" />
        </div>
    </div>
    <div id="Separator">&nbsp;</div>
</div>

<div th:replace="/common/footer"></div>
