<div style="display: none" class="shadow" id="shadow"></div>
<div style="display: none" id="login-box" class="login-box">
    <form id="FGTPSWform" >
        <table align="center">


            <tr>
                <td><h3>We will send a new password to you</h3></td>
                <td><h3>Please enter your username and phone number</h3></td>
            </tr>

            <tr>
                <td>Username:</td>
                <td><input type="text" name="username" required="required"></td>

            </tr>


<!--            <tr>-->
<!--                <td >PhoneNumber:</td>-->
<!--                <td><input type="text" name = "phoneNumber" required="required"></td>-->

<!--            </tr>-->

            <tr>
                <td>PhoneNumber:</td>
                <td><input type="text" name="phoneNumber"required="required"></td>
            </tr>


            <tr>
                <td> <input type="button" id="confirmFGTPSW" value="Confirm"></td>
                <td>
                    <input type="button" value="Cancel"  align="right" id="closeLoginBox">
                    <input type="button" value="through email" id="throughEmail">
                </td>
            </tr>


        </table>
    </form>



</div>

<div style="display: none" id="login-box-email" class="login-box">
    <form id="FGTPSWformMAIL" >
        <table align="center">


            <tr>
                <td><h3>We will send a new password to you</h3></td>
                <td><h3>Please enter your username and email</h3></td>
            </tr>

            <tr>
                <td>Username:</td>
                <td><input type="text" name="username" required="required"></td>

            </tr>


            <!--            <tr>-->
            <!--                <td >PhoneNumber:</td>-->
            <!--                <td><input type="text" name = "phoneNumber" required="required"></td>-->

            <!--            </tr>-->

            <tr>
                <td>Email:</td>
                <td><input type="text" name="email"required="required"></td>
            </tr>


            <tr>
                <td> <input type="button" id="confirmFGTPSWMAIL" value="Confirm"></td>
                <td>
                    <input type="button" value="Cancel"  align="right" id="closeLoginBoxMAIL">
                    <input type="button" value="through email" id="throughPhone">
                </td>
            </tr>


        </table>
    </form>



</div>
