<div th:replace="/common/header"></div>

<div id="BackLink">
    <a href="/catalog/main">Return to Main Menu</a>
</div>
<font color="red" th:if="${msg}!=null" th:text="${msg}"></font>
<form action="/account/signin" method="post" id="signInPasswordForm">
    <div id="Sign">
        <table align="center">
            <tr>
                <td>Username:</td>
                <td><input type="text" name="username" required="required"></td>

            </tr>         <br>
            <tr>
                <td >Password:</td>
                <td><input type="password" name = "password" id="signinpsw" required="required"></td>
                <td id="FGTPSW"><a id="FGTPSWmsg"> forget password?</a></td>
            </tr>
            <tr>
                <td> Verification Code:</td>
                <td><input type="text" name="inputCode" required></td>
            </tr>
            <tr>
                <td> <img id="myImage" name="myImage" th:src="@{/account/authCode}"></td>
                <td><a href="javascript:void(0)" onclick="myReload()">uncleary!change the image</a></td>
            </tr>



            <tr>
                <td> <input type="submit" value="Signin"></td>
                <td> <input type="button" value="through Phone" id="loginThroughPhone"></td>

            </tr>

        </table>
    </div>
</form>
<form action="/account/signinPhone" method="post" id="signInPhoneForm">
    <div id="SignPhone">
        <table align="center">

            <tr>
                <td>Username:</td>
                <td><input type="text" name="username" required="required"></td>

            </tr>

            <tr>
                <td>PhoneNumber:</td>
                <td><input type="text" name="phoneNumber" id="phoneNumber" required="required"></td>

            </tr>

            <tr>
                <td>
                    <input type="button"id="phoneCode" value="Send phoneCode">
                </td>
                <td>
                    <input type="text" id="phoneVCode" name="inputVCode" value="">
                </td>
            </tr>




            <tr>
                <td> <input type="submit" value="Signin"></td>
                <td> <input type="button" value="through Password" id="loginThroughPassword"></td>
            </tr>

        </table>
    </div>
</form>


<p align="center">
    Need a username and password?<a href="/account/viewRegister">Resgister Now!</a>
</p>

<div th:replace="/common/footer"></div>