<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.mypetstore.persistence.UserFindMapper">
    <delete id="deleteByUserNameAndLoginTime" parameterType="String">
        delete from log where username=#{username} and logintime=#{logintime}
    </delete>
    <insert id="insertUserFindByUserNameAndLoginTimeAndUrl" parameterType="String">
        insert into log(username,logintime,url)
            values(#{username},#{logintime},#{url})
    </insert>
</mapper>